body{
	font-family: 'Jacques Francois', serif !important;
	text-shadow: 1px 1px #ccc !important;
}
/* Navbar */
#logo{
	width: 30vw;
}
#navbartitle{
	color: #5d5d5d; 
	font-size: 52%;
	line-height: 3;
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	#navbartitle{
		font-size: 85%;
	}
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	#navbartitle{
		font-size: 120%;
	}
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	#logo{
		width: 20vw;
	}
	.navbar-brand{
		margin-right: 2rem !important;
	}
	navbar-nav{
		right: 0;
	}
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.navbar-brand{
		margin-right: 12% !important;
	}
	#logo{
		width: 30%;
	}
	#navbartitle{
		line-height: 4;
		font-size: 80%;
	}
}
.shadow{
	box-shadow: 0 7px 10px -6px #ccc;
}

/* Main banner */
#mainbanner{
	background-image: url(images/reunion.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	width: 100%;
	height: 30vh;
	left: 0;
	border-top: 5px solid rgba(51, 153, 255, 0.5);
	border-bottom: 5px solid rgba(51, 153, 255, 0.5);
}
#mbcontent{
	background: rgba(51, 153, 255, 0.5);
	height: 100%;
	max-height: 530px;
	overflow-y: scroll; 
	color: #fff;
	padding: 2% 2%;
	text-shadow: none;
	/*font-size: 5%; for smaller vies */

}
@media (min-width: 1200px){
	#mainbanner{
		background-size: 1100px;
		width: 1100px;
		height: 60%;
		left: auto !important;
	}
}

/* TabBar de Servicios */
.nav-pills .nav-link {
    border-radius: 5em !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgb(51, 153, 255) !important;
}
#servs{
	margin-top: 1.5%; 
}
.servtab{
	margin: .5em 0;
}
.servlink{
    text-align: center;
    background: rgba(51, 153, 255, 0.5);
    color: #fff;
    height: 100%;
    vertical-align: middle;
	display: flex !important;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #ccc;
    text-shadow: .5px .5px #666;
}
.tab-content{
	text-align: center;
	max-width: 690px;
}
.servdesc{
	overflow-y: scroll;
	vertical-align: middle;
	height: 30vh;
	max-height: 286.19px;
}
.tabimg{
	height: 30vh;
	padding-left: 15vw !important;
    padding-right: 15vw !important;
	max-height: 286.19px;

}
@media (min-width: 576px) {
	.servlink{
		font-size: .7em;
		padding: 17% 20% !important;
	}
	.tabimg{
		padding-left: 1vw !important;
	    padding-right: 0 !important;
	    padding-bottom: 1vh !important;
	}
}
@media (min-width: 768px) {
	.servlink{
		font-size: 100%;
	}
}
@media (min-width: 992px) {
	.tab-content{
		margin-left: 21.5%;
	}
}
@media (min-width: 1200px){
	
}

/* 2nd banner */
.banner2{
	margin-top: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
	border-top: 5px solid rgba(51, 153, 255, 0.5);
	border-bottom: 5px solid rgba(51, 153, 255, 0.5);
	text-align: center;
}
#img5{
	max-height: 76.69px;
	max-width: 220px;
}

/* Footer */
footer{
	background: rgba(51, 153, 255, 1);
	position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 7vh;
    padding-top: 1.8%;
    text-shadow: none;
}
/* Scrollbar */
/* width */
	::-webkit-scrollbar {
	    width: .5vw;
	    height: .3vh;
	}
	/* Track */
	::-webkit-scrollbar-track {
	    background: #f1f1f1; 
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
	    background: #888; 
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	    background: #555; 
	}
